$iotfw-black-primary: mat-palette($mat-grey, 700, 300, 900);
$iotfw-black-accent: mat-palette($mat-blue-grey, 400);
$iotfw-black-warn: mat-palette($mat-red, 500);

$iotfw-black-theme: mat-dark-theme(
  $iotfw-black-primary,
  $iotfw-black-accent,
  $iotfw-black-warn
);
